.find__us img {
  filter: grayscale(100%);
  transition: all 0.5s;
}

.find__us img:hover {
  filter: none;
  cursor: pointer;
  transform: scale(110%);
}

.findus__heading {
  color: #ffffff;
}

.findus {
  background: url("../gif/line2.gif");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
