.header__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  /* padding: 120px; */
  /* padding-right: 0; */
  /* padding-left: 300px; */
}

.header__content > h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.header__list {
  padding-left: 15px;
}

.headerList__item {
  color: #fff;
  line-height: 2;
}

.header__actions {
  padding: 1rem 0;
}

.header__cta {
  width: 156px;
  border: none;
  height: 41px;
  border: 3px solid #ffe600;
  border-radius: 9px;
  background-color: transparent;
  box-shadow: 0 0 10px #ffe600;
  color: #ffffff;
  font-size: 13px;
  transition: all 0.5s;
}

.header__cta:hover {
  background-color: rgba(255, 230, 0, 0.5);
  transform: translateY(-10px);
}
