.header {
  /* height: 100vh; */
  z-index: 11111111;
}

.header__gif {
  /* display: block; */
  background: url("../gif/1.gif");
  background-size: contain;
  background-position: right -150px top 0;
  position: absolute !important;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  /* width: 300px;
  height: auto; */
}

@media screen and (max-width: 470px) {
  .header__gif {
    /* display: block; */
    background: url("../gif/1.gif");
    background-size: 200px auto;
    background-position: left 0 top -150px;
    position: absolute !important;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    /* width: 300px;
    height: auto; */
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 1200px) {
}
