.header {
  /* height: 100vh; */
  z-index: 11111111;
}

.header__gif {
  display: block;
  position: absolute !important;
  right: 0;
  top: 0;
}

@media screen and (max-width: 470px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 1200px) {
}
