.socialIcons__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialIcons__list > a > img {
  margin: 1rem;
}

.social__heading {
  font-size: 36px;
  font-weight: 700;
  color: #ffe600;
}
